<a href="https://colab.research.google.com/github/poojashedge12/Hypothesis-Testing/blob/main/Hypothesis%2BTesting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Q1:

A F&B manager wants to determine whether there is any significant difference
in the diameter of the cutlet between two units. A randomly selected sample of
cutlets was collected from both units and measured? Analyze the data and draw
inferences at 5% significance level.Please state the assumptions and tests that you
 carried out to check validity of the assumptions.

In [ ]:
# connecting the drive

from google.colab import drive
drive.mount('/content/data')

Mounted at /content/data

In [ ]:
cd /content/data/MyDrive/Data

/content/data/MyDrive/Data

In [ ]:
import pandas as pd
import scipy.stats as stats

In [ ]:
ls /content/data/MyDrive/Data

'Assignment data'/
 BEML.csv
 BuyerRatio.csv
 Cars.csv
'Class practice linear regression 7-9-[updated].ipynb'
 Costomer+OrderForm.csv
 Cutlets.csv
 GLAXO.csv
'iris.python(exclr).csv'
 knnex.ipynb
 LabTAT.csv
'Multi Linear Regression-updated .ipynb'
'normaldistributionmorningbatch .ipynb'
 wc-at.csv

In [ ]:
hypo =pd.read_csv('Cutlets.csv')
unit_a = hypo['Unit A']
unit_b = hypo['Unit B']

#Testing Assumption:

# Test for Normality (Shapiro-Wilk test)
_, p_value_unit_a = stats.shapiro(unit_a)
_, p_value_unit_b = stats.shapiro(unit_b)

# Test for Equal Variances (Levene's test)
_, p_value_equal_var = stats.levene(unit_a, unit_b)


print("Normality Test (Unit 1): p-value =", p_value_unit_a)
print("Normality Test (Unit 2): p-value =", p_value_unit_b)
print("Equal Variances Test: p-value =", p_value_equal_var)

alpha = 0.05

if p_value_unit_a > alpha and p_value_unit_b > alpha:
  print("Both the samples are normally distributed")
else:
  print("Both the samples are not normally distributed",'\n')

if p_value_equal_var > alpha:
  print("Both the samples have equal variance")

if p_value_unit_a > alpha and p_value_unit_b > alpha and p_value_equal_var > alpha:
  print('\n'"Given samples are following all assumptions for t test."'\n'"You may procced")

Normality Test (Unit 1): p-value = 0.31998491287231445
Normality Test (Unit 2): p-value = 0.5225146412849426
Equal Variances Test: p-value = 0.4176162212502553
Both the samples are normally distributed
Both the samples have equal variance

Given samples are following all assumptions for t test.
You may procced

In [ ]:
# Hypothesis testing
test_statistic, p_value = stats.ttest_ind(unit_a, unit_b)
print(f"Test statistics :{test_statistic}, p_value :{p_value}",sep= '\n')

alpha = 0.05  # Significance level

if p_value < alpha:
    print("Reject the null hypothesis.")
    print("There is a significant difference between the diameter of Unit A and Unit B.")
else:
    print("accept the null hypothesis.")
    print("There is no significant difference between the diameter of Unit A and Unit B.")

accept the null hypothesis.
There is no significant difference between the diameter of Unit A and Unit B.

# Q2:
A hospital wants to determine whether there is any difference in
the average Turn Around Time (TAT) of reports of the laboratories on their preferred list.
They collected a random sample and recorded TAT for reports of 4 laboratories.
TAT is defined as sample collected to report dispatch.

Analyze the data and determine whether there is any difference in average
TAT among the different laboratories at 5% significance level.

In [ ]:
cd /content/data/MyDrive/Data

[Errno 107] Transport endpoint is not connected: '/content/data/MyDrive/Data'
/content/drive/MyDrive/Data

In [ ]:
hypo2 =pd.read_csv('LabTAT.csv')
hypo2

Lab1 = hypo2['Laboratory 1']
Lab2 = hypo2['Laboratory 2']
Lab3 = hypo2['Laboratory 3']
Lab4 = hypo2['Laboratory 4']
hypo2

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [ ]:
#Testing Assumption:

# Test for Normality (Shapiro-Wilk test)
_, p_value_Lab1 = stats.shapiro(Lab1)
_, p_value_Lab2 = stats.shapiro(Lab2)
_, p_value_Lab3 = stats.shapiro(Lab3)
_, p_value_Lab4 = stats.shapiro(Lab4)


# Test for Equal Variances (Levene's test)
_, p_value_equal_var = stats.levene(Lab1,Lab2,Lab3,Lab4)

#Print Result:
print("Normality Test (Lab1): p-value =", p_value_Lab1)
print("Normality Test (Lab2): p-value =", p_value_Lab2)
print("Normality Test (Lab3): p-value =", p_value_Lab3)
print("Normality Test (Lab4): p-value =", p_value_Lab4)

print("Equal Variances Test: p-value =", p_value_equal_var)

alpha = 0.05

if p_value_Lab1 > alpha and p_value_Lab2 > alpha and p_value_Lab3 > alpha and p_value_Lab4 > alpha :
  print("All 4 samples are normally distributed")
else:
  print("samples are not normally distributed",'\n')

if p_value_equal_var > alpha:
  print("Samples have equal variances")

if p_value_Lab1 > alpha and p_value_Lab2 > alpha and p_value_Lab3 > alpha and p_value_Lab4 > alpha and p_value_equal_var > alpha:
  print('\n'"Given samples are following all assumptions for Anova Test."'\n'"You may procced")

Normality Test (Lab1): p-value = 0.5507769584655762
Normality Test (Lab2): p-value = 0.8637352585792542
Normality Test (Lab3): p-value = 0.42045730352401733
Normality Test (Lab4): p-value = 0.6619619131088257
Equal Variances Test: p-value = 0.05161343808309816
All 4 samples are normally distributed
Samples have equal variances

Given samples are following all assumptions for Anova Test.
You may procced

In [ ]:
statistic, p_value = stats.f_oneway(Lab1,Lab2,Lab3,Lab4)

print("One-way ANOVA test:")
print("F-statistic:", statistic)
print("p-value:", p_value)
print('\n')

if p_value < alpha:
    print("As p_value < alpha(0.05).\nReject the null hypothesis.")
    print("There is a significant difference between the TAT of 4 Laboratories.")
else:
    print("As p_value > alpha(0.05).\nAccept the null hypothesis.")
    print("There is no significant difference between  the TAT of 4 Laboratories.")

One-way ANOVA test:
F-statistic: 118.70421654401437
p-value: 2.1156708949992414e-57


As p_value < alpha(0.05).
Reject the null hypothesis.
There is a significant difference between the TAT of 4 Laboratories.

# Q3.
Sales of products in four different regions is tabulated for males and females.
Find if male-female buyer rations are similar across regions.

In [ ]:
import scipy.stats as stats

# Create the contingency table
observed = [[50, 142, 131, 70],
            [550, 351, 480, 350]]

chistatistics,p_value,dof,expected_freq = stats.chi2_contingency(observed)


print("Chi-square test of independence:")
print("Chi-square statistic:",chistatistics)
print("p-value:", p_value,'\n')


if p_value < alpha:
    print("As p_value < alpha(0.05).\nReject the null hypothesis.")
    print("Not all Proportions are equal.")
else:
    print("As p_value > alpha(0.05).\nAccept the null hypothesis.")
    print("all Proportions are equal.")

Chi-square test of independence:
Chi-square statistic: 80.27295426602495
p-value: 2.682172557281901e-17

As p_value < alpha(0.05).
Reject the null hypothesis.
Not all Proportions are equal.

# Q4.
TeleCall uses 4 centers around the globe to process customer order
forms. They audit a certain %  of the customer order forms.
Any error in order form renders it defective and has to be
reworked before processing.  The manager wants to check whether
the defective %  varies by centre. Please analyze the data at 5%
significance level and help the manager draw appropriate inferences

In [ ]:

cd /content/drive/MyDrive/Data

[Errno 107] Transport endpoint is not connected: '/content/drive/MyDrive/Data'
/content/data/MyDrive/Data

In [ ]:
hypo4= pd.read_csv("Costomer+OrderForm.csv")

Phillippines=hypo4["Phillippines"]
Indonesia=hypo4["Indonesia"]
Malta=hypo4["Malta"]
India=hypo4["India"]

hypo4.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [ ]:
print(Phillippines.value_counts(),Indonesia.value_counts(),Malta.value_counts(),India.value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [ ]:
Table=[[271,267,269,280],[29,33,31,20]]

from scipy.stats import chi2_contingency
from scipy.stats import chi2
statistics,p_value,dof,expected=chi2_contingency(Table)

print("Chi2 test")
print("statistic:", statistics)
print("p-value:", p_value)
print('\n')

if p_value < 0.05:
    print("As p_value < alpha(0.05).\nReject the null hypothesis.")
    print("The defective percentage is not the same across all four centers.")
else:
    print("As p_value > alpha(0.05).\nAccept the null hypothesis.")
    print("The defective percentage is the same across all four centers.")

Chi2 test
statistic: 3.858960685820355
p-value: 0.2771020991233135


As p_value > alpha(0.05).
Accept the null hypothesis.
The defective percentage is the same across all four centers.